@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,700;1,400&family=Poppins:ital,wght@1,200;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
