@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,700;1,400&family=Poppins:ital,wght@1,200;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{
    position: fixed;
    width: 100%;
    background: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}
.navbar .menu li a {
    color: #fff;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}